@model IEnumerable<vehiclesProject.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Sold Vehicle Number : @ViewBag.sn <br />
    
    Avaliable Vehicle Number : @ViewBag.an <br />
    Total Income: @ViewBag.income <br />
    
</p>

