body {
}
    table.table

{
    border-width: 3px;
    border-spacing: 2px;
    border-style: solid;
    border-color: gray;
    border-collapse: separate;
    background-color: rgb(255, 255, 240);
}

table.table th {
    border-width: 1px;
    padding: 4px;
    border-style: double;
    border-color: gray;
    background-color: white;
}

table.table td {
    border-width: 1px;
    padding: 4px;
    border-style: double;
    border-color: gray;
    background-color: lightblue;
}

.table td:hover {
    background-color: white;
}


